*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #353535;
  --blue: #384972;
  --blue-light: rgba(139, 161, 220, 0.937);
  --blue-hover: #2c3e5a;
  --black: #000000;
  --dark: #161616;
  --white: #ffffff;
  --neutral100: #eaf0f2;
  --neutral200: #d6dfe4;
  --neutral300: #c1ccd6;
  --neutral400: #adb8c9;
  --neutral500: #98a1bb;
  --neutral600: #7a8196;
  --neutral700: #5b6170;
  --neutral800: #3d404b;
  --neutral900: #1e2026;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  width: 100vw;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: var(--primary);
}
